#udsidebar-block {
  margin: 1em 0;
}

.udsidebar-item {
  background-position: right bottom;
  background-repeat: no-repeat;
  border-top: 1px solid white;
  margin-bottom: 1em;
  position: relative;
}

#udsidebar-block a {
  color: #BD0901;
  display: block;
  margin-left: 52px;
  text-decoration: none;
}

#udsidebar-block strong {
  font-size: 120%;
}

#udsidebar-block div img {
  border-style: none;
  left: 4px;
  position: absolute;
  top: 0;
}

#udsidebar-block div p {
  font-size: 90%;
  margin: 0.5em 0 0 52px;
}

#udsidebar-block div p a {
  display: inline;
  margin: 0;
}
